@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  font-family: inherit;
}

body {
  font-family: Vazir, sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #414141;
}

.container {
  width: 65vw;
  height: 250px;
  -webkit-box-shadow: 0 0 5px #9b9b9b;
          box-shadow: 0 0 5px #9b9b9b;
}

.container .start {
  height: 100%;
}

.container .start h3 {
  margin: 0;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #b1b1b1;
}

.container .start .start-body {
  height: calc(70% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .start .start-body button {
  width: 170px;
  height: 50px;
  font-size: 1.2rem;
  background-color: #ddd;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container .start .start-body button:hover {
  background-color: #dad9d9;
  color: #222;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  border-bottom: 1px solid #7c7c7c;
  padding: 15px 0;
}

.container > .question {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.container > .question .question-title {
  direction: ltr;
  font-size: 1.35rem;
  text-align: center;
  margin-top: 25px;
}

.container > .question .question-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container > .question .question-check span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
  padding: 10px;
}

.container > .question .question-check .question {
  font-size: 1.3rem;
  background-color: #333;
  cursor: pointer;
}

.container > .question .question-check .wrong-answer {
  background-color: #cc2828;
}

.container > .question .question-check .right-answer {
  background-color: #0d8a0d;
}

.container #prev,
.container #next {
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.container #prev:hover,
.container #next:hover {
  background-color: #e4e2e2;
}
/*# sourceMappingURL=style.css.map */