@import 'reset';
body {
	direction: rtl;
	font-family: 'IRANSans';
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #303030;
}
#wrapper {
	margin: 20px;
	min-width: 500px;
	box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.25);
	border-radius: 5px;
	text-align: center;
	position: relative;
	.timer,
	.numberQuestion {
		position: absolute;
		top: 25px;
		font-size: 0.9rem;
	}
	.numberQuestion {
		right: 15px;
		i {
			vertical-align: -2px;
			font-size: 0.9rem;
		}
	}
	.timer {
		left: 15px;
		i {
			margin-left: 5px;
			vertical-align: -2px;
			font-size: 0.9rem;
		}
	}
	h3 {
		padding: 25px 0 20px 0;
		font: {
			size: 1rem;
			weight: normal;
		}
		border-bottom: 1px solid #ddd;
	}
	p {
		direction: ltr;
		margin: 25px 0;
		font-size: 1.2rem;
		b {
			font-size: 1rem;
			display: block;
			margin-top: 25px;
			padding: 0 15px;
			color: rgb(211, 73, 73);
		}
	}
	#showAnswer {
		padding: 0.5rem 1rem;
		border-radius: 5px;
		transition: 0.25s linear;
		background-color: #8ebb8e;
		color: #fff;
		&:hover {
			background-color: #6ca76c;
		}
	}
	.btnReload {
		color: #fff;
		background-color: #69cc59;
		&:hover {
			color: #eee;
			background-color: #57b649;
		}
	}
	.changelocation {
		position: absolute;
		left: 15px;
		top: 20px;
		border-radius: 5px;
		color: #fff;
		background-color: #303030;
		padding: 0.5rem 1rem;
		transition: 0.25s linear;
		i {
			margin-right: 5px;
		}
		&:hover {
			background-color: #414141;
		}
	}
	.changePage {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background-color: #fff;
		border: 2px solid #8ebb8e;
		transition: 0.2s linear;
		user-select: none;
		i {
			font-size: 1.4rem;
			vertical-align: -4px;
		}
		&:hover {
			border-color: #32bb32;
		}
		&.right {
			i {
				margin-left: 2px;
			}
			right: 15px;
		}
		&.left {
			i {
				margin-right: 2px;
			}
			left: 15px;
		}
	}
	#start:not(.changelocation) {
		margin: 15px;
		border-radius: 5px;
		transition: 0.3s linear;
		padding: 0.5rem 2rem;
		background-color: #e8e6e6;
		color: #000;
		font-size: 0.85rem;
		i {
			margin-right: 7px;
		}
		&:hover {
			background-color: #d6d6d6;
			color: #111;
		}
	}
	.questionBox {
		display: flex;
		justify-content: center;
		align-items: baseline;
		margin: 15px 0;
		span {
			width: 30px;
			height: 30px;
			padding: 5px;
			margin: 0 10px;
			border-radius: 100%;
			border: 1px solid #ccc;
			user-select: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1.3rem;
			transition: 0.25s ease;
			&:hover {
				border-color: #1d901d;
				color: #1d901d;
			}
		}
	}
}
