@font-face {
	font: {
		family: 'IRANSans';
		weight: normal;
		style: normal;
	}
	src: url('../font/IRANSans.eot');
	src: url('../font/IRANSans.eot?#iefix') format('embedded-opentype'),
		url('../font/IRANSans.svg#IRANSans') format('svg'), url('../font/IRANSans.ttf') format('truetype'),
		url('../font/IRANSans.woff') format('woff'), url('../font/IRANSans.woff2') format('woff2');
}
button {
	border: 0;
	font-family: inherit;
	cursor: pointer;
}
* {
	padding: 0;
	margin: 0;
}